* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #526281;
  --pop-bg: rgba(0, 0, 0, 0.438);
  --text-color: white;
  --btn-disabled-color: #a8b0c0;
  --btn-color: white;
  --gray-text-color: #a8b0c0;
  --footer-bg: #353b47;
  --input-bg: #62718d;
  --h4-color: #e0e6f2;
  --yellow: #f2c94c;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  min-height: 100vh;
  padding-bottom: 119px;
  /* height: 100vh; */
  /* overflow: hidden; */
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

#shortcutShortCheckmark {
  font-family: "Fira Sans", sans-serif;
  color: lightgreen;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  /* justify-content: space-between; */
  padding: 30px 5%;
  overflow: hidden;
  height: auto;
}

header .logo {
  flex: 1;
}

header h4 {
  font-weight: 400;
  font-size: 24px;
}

header h1 {
  font-size: 24px;
}

header .links {
  display: flex;
  list-style-type: none;
}

header .links li {
  margin: 0 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

header .bg-black {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--pop-bg);
  transition: all 1s ease;
}

header .bg-black.hide {
  opacity: 0;
  pointer-events: none;
}

header .sidebar {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 200px 30px;
  list-style-type: none;
  background-color: var(--bg-color);
  min-width: 300px;
  -webkit-box-shadow: -5px 1px 7px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -5px 1px 7px 0px rgba(0, 0, 0, 0.45);
  box-shadow: -5px 1px 7px 0px rgba(0, 0, 0, 0.35);
  transition: right 0.5s ease-in-out;
}

header .sidebar .head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 30px;
}

header .sidebar .head .logo,
header .sidebar .head .close {
  cursor: pointer;
}

header .sidebar li {
  font-size: 18px;
  padding: 10px 20px;
  margin: 20px 0;
  color: var(--text-color);
}

header .sidebar li:hover,
header .sidebar li:focus {
  text-decoration: underline;
}

header .user-icon {
  width: 20px;
  align-self: center;
  fill: var(--text-color);
  cursor: pointer;
  /* display: none; */
  margin: 0 30px;
}

header .ham {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 3px;
  display: none;
}

header .ham .one,
header .ham .two,
header .ham .three {
  height: 2px;
  background-color: var(--text-color);
  border-radius: 4px;
  transition: all 0.2s ease-in-out 0.2s;
}
header .ham .one {
  width: 22.5px;
}

header .ham .two,
header .ham .three {
  width: 17.5px;
}

header .bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 500px;
  overflow: hidden;
  background: rgb(216, 170, 76);
  background: linear-gradient(
    45deg,
    rgba(216, 170, 76, 1) 50%,
    rgba(230, 142, 119, 1) 65%
  );
  filter: blur(1px);
  z-index: -3;
}

.mid-vectors {
  width: 100%;
  height: 200px;
  position: relative;
}

.mid-vectors .top,
.mid-vectors .bottom {
  position: absolute;
  width: 230px;
  top: -33%;
  left: 51%;
  transform: translateX(-50%);
  z-index: -2;
}

.mid-vectors .bottom {
  top: 15%;
  z-index: 2;
}

.mid-vectors .bottom.profile {
  text-align: center;
  width: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mid-vectors .bottom.profile .img {
  width: 140px;
  height: 140px;
  border: 3px solid white;
}

.mid-vectors .bottom.profile p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--yellow);
}

.mid-vectors .bottom.progress-bar {
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
}

.mid-vectors .bottom.progress-bar .progress {
  width: 100%;
  height: 100%;
  background: conic-gradient(white, 0deg, var(--input-bg) 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-vectors .bottom.progress-bar .progress img {
  border: 5px solid var(--bg-color);
  width: calc(100% - 6px);
  border-radius: 50%;
  background-color: var(--bg-color);
}

.mid-vectors .bg {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  z-index: -1;
}

.mid-vectors .bg1 {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 1920px;
  background-position: top center;
}

.mid-vectors .bg img {
  width: 1920px;
  min-width: 1920px;
  height: auto;
}

footer {
  background-color: var(--footer-bg);
  color: var(--gray-text-color);
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  /* position: fixed; */
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin-top: auto;
  width: 100%;
}

footer p {
  z-index: 3;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
}

section h1 {
  font-size: 48px;
  line-height: 2em;
}

.flip-text {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.flip-container {
  display: flex;
  overflow: hidden;
  height: 77px;
  margin-left: 10px;
  margin-right: 10px;
}

.flip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  -webkit-transform: translateY(calc(0% + 10px * 0));
  -ms-transform: translateY(calc(0% + 10px * 0));
  transform: translateY(calc(0% + 10px * 0));
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;

  /* iphone flicker bug https://stackoverflow.com/questions/2946748/iphone-webkit-css-animations-cause-flicker */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.no-transition {
  /* transition-duration: 0s; */
  transition-duration: 0s;
}

.flip-content span {
  background-color: rgba(225, 225, 225, 0.1);
  border-radius: 8px;
  padding: 5px 15px;
  margin-bottom: 10px;
  line-height: 1.4em;

  /* iphone flicker bug https://stackoverflow.com/questions/2946748/iphone-webkit-css-animations-cause-flicker */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-content span:last-child {
  margin-bottom: 0;
}
/* .flip span {
  display: block;
  background-color: rgba(225, 225, 225, 0.1);
  border-radius: 8px;
  padding: 5px 15px;
  position: absolute;
  line-height: 1.4em;
  top: -100%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  -webkit-animation: flip 4s infinite;
  animation: flip 4s infinite;
  -webkit-animation-delay: calc(2s * var(--i));
  animation-delay: calc(2s * var(--i));
}

@-webkit-keyframes flip {
  0% {
    top: var(--top, -100%);
  }
  10% {
    top: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    top: 0;
    opacity: 0;
  }
  75% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes flip {
  0% {
    top: var(--top, -100%);
  }
  10% {
    top: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    top: 0;
    opacity: 0;
  }
  75% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 100%;
  }
} */

section h4 {
  font-weight: 800;
  font-size: 18px;
  color: var(--h4-color);
}

section h5 {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-text-color);
}

section button {
  width: 265px;
  height: 60px;
  background-color: var(--btn-color);
  font-size: 24px;
  color: var(--bg-color);
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

section button span {
  margin-right: 10px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons .icon {
  color: var(--gray-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.icons .icon img {
  width: 34px;
}

.big-icon {
  width: 176px;
  height: 176px;
  border: 7px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.big-icon .b-cover {
  background-color: #353b47;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

.big-icon img {
  width: 75px;
  position: relative;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
  max-width: 418px;
}

form input:not([type="file"]),
form select,
form textarea,
.flag select {
  min-width: 420px;
  padding: 20px;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 18px;
  background-color: var(--input-bg);
  border: none !important;
  outline: none !important;
}

form input::placeholder,
form select::placeholder,
form textarea::placeholder {
  color: var(--gray-text-color);
}
form input:disabled,
form select:disabled,
form textarea:disabled,
form option:disabled {
  color: var(--gray-text-color);
}

.flag select {
  border: 1px solid var(--input-bg) !important;
  background-color: initial;
  color: initial;
  min-width: auto;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

form .checkbox .checkbox-container {
  background-color: var(--input-bg);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .checkbox input {
  width: 16px;
  min-width: auto;
}
form .checkbox img {
  width: 18px;
}

form .select-container {
  position: relative;
  width: auto;
  height: auto;
}

form .select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form .select-container img {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

form textarea {
  margin-top: 15px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.btn-container .light {
  background-color: var(--input-bg) !important;
  color: var(--text-color);
  min-width: 60px;
  max-width: 60px;
}

.btn-container .big {
  min-width: auto;
  max-width: none;
}
.btn-container .light img,
.btn-container .light svg {
  width: 30px;
}

form .line {
  width: 100%;
  height: 1px;
  background-color: var(--input-bg);
  margin: 5px 0;
}

.home {
  gap: 50px;
}

.home form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--gray-text-color);
  border-bottom: 2px solid var(--gray-text-color);
  padding: 5px;
  max-width: none;
}

.home form input {
  background-color: transparent;
  border: none !important;
  outline: none !important;
  min-width: 500px;
  color: inherit;
  font-size: 18px;
  padding: 0;
  border-radius: 0;
}

.home .chats {
  max-height: 350px;
  overflow: hidden;
  display: none;
  margin-bottom: 100px;
  padding: 80px 0 0;
}

.home .chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: translateY(-225px); */
  transition: all 1s ease-in-out;
}

.home .chat-container .chat {
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.home .chat-container .chat.show-chat {
  opacity: 1;
  pointer-events: initial;
}

.home .chat-container.end-chat {
  transition-duration: 0s;
}

.home .chat-container .chat.end-chat {
  transition-duration: 0s;
}

.chat {
  max-width: 270px;
  min-width: 270px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  /* margin: 10px; */
  position: relative;
  margin-bottom: 80px;
}

.chat .top,
.chat .bottom {
  display: flex;
  gap: 15px;
  padding: 25px;
}

.chat .top .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.chat .top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat .top .content p {
  font-size: 14px;
  color: var(--bg-color);
}

.chat .top .content h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--footer-bg);
}

.chat .bottom {
  border-top: 1px solid var(--gray-text-color);
  padding: 15px 25px;
  align-items: center;
  cursor: default;
  user-select: none;
  color: var(--bg-color);
}

.chat .playing {
  color: #e68e77;
}

.chat .bottom h4 {
  color: currentColor;
  font-size: 15px;
  font-weight: 600;
}

.chat .shape {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: -1;
}

.home .search-bar {
  position: fixed;
  top: calc(100% - 240px);
  left: 50%;
  opacity: 1;
  transition: opacity 0s ease, top 0s ease 0s;
  position: static;
}

.home .search-bar form {
  display: flex !important;
}

.home .search-bar .icon {
  stroke: var(--gray-text-color);
  transform: rotate(45deg);
  cursor: pointer;
  display: none;
}

.home .search-bar .sug {
  width: 100%;
  background-color: white;
  color: #353b47;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 1px;
  padding: 4px 4px;
  border-radius: 0 0 8px 8px;
}

.home .search-bar .sug.hide {
  display: none;
}

.home .search-bar .sug p {
  padding: 5px 0 5px 10px;
  border-radius: 4px;
  cursor: default;
  text-transform: capitalize;
}
.home .search-bar .sug p:hover {
  background-color: #00000056;
  width: 100%;
  text-align: left;
}

.home h1,
.home .chats {
  transition: opacity 1s ease;
}

.extras {
  /* background-color: var(--footer-bg); */
  /* position: fixed; */
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 57px;
  width: 100%;
  padding: 20px 5% 0 5%;
  display: none;
}

.extras.plain {
  background-color: var(--footer-bg);
  bottom: 50px;
  padding: 20px 50px 3px;
}

.extras .btn {
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.extras .btn button {
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(242, 201, 76, 0.2);
  -moz-box-shadow: 0px 0px 8px 1px rgba(242, 201, 76, 0.2);
  box-shadow: 0px 0px 8px 1px rgba(242, 201, 76, 0.2);
}

.extras .btn p {
  font-size: 14px;
  font-weight: 700;
  color: var(--btn-color);
}

.extras .bg {
  width: 110%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.extras .icon {
  cursor: pointer;
}
.extras .icon:hover {
  color: var(--yellow);
}

.extras .bg img {
  width: 600px;
  min-width: 600px;
  height: auto;
}

.name {
  margin-top: 140px;
  padding: 0 5%;
  text-align: left;
  /* color: var(--gray-text-color); */
}

.names {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.names .secondary {
  color: var(--btn-disabled-color);
  margin-top: 30px;
}

.names .container {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-radius: 8px;
  gap: 15px;
  width: 100%;
  margin: 10px 0;
  background-color: var(--bg-color);
  box-shadow: 0px 38px 15px rgba(37, 45, 60, 0.01),
    0px 21px 13px rgba(37, 45, 60, 0.05), 0px 9px 9px rgba(37, 45, 60, 0.09),
    0px 2px 5px rgba(37, 45, 60, 0.1), 0px 0px 0px rgba(37, 45, 60, 0.1);
}

.names .container img {
  width: 70px;
  border-radius: 8px;
  border: 2px solid var(--input-bg);
}

.names .container .content h1 {
  font-size: 22px;
  line-height: 1.2em;
  margin-bottom: 5px;
  max-width: 180px;
  word-break: break-all;
}
.names .container .content p {
  font-size: 14px;
  max-width: 180px;
  word-break: break-all;
}

.names .container .icon {
  margin-left: auto;
  min-width: 30px;
  max-width: 30px;
  stroke: var(--yellow);
  cursor: pointer;
}

.name-carousel {
  margin-top: 50px;
}

/* .name h3 {
  font-size: 16px;
  font-weight: 400;
}

.name h1 {
  color: var(--text-color);
  font-weight: 400;
  line-height: normal;
}

.name .side-btns {
  position: absolute;
  left: 10px;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

.name .name-content {
  padding-left: 40px;
  padding-right: 10px;
  width: 100%;
}

.name .big-icon {
  background: no-repeat center;
  background-size: cover;
  margin: 20px auto;
}

.name .name-content .main-container {
  margin-bottom: 50px;
}

.name .name-content .sub-container {
  position: relative;
}

.name .name-content .sub-container p {
  max-width: 200px;
  margin: auto;
}

.name .name-content .sub-container .big-icon {
  width: 121px;
  height: 121px;
  border: 5px solid white;
}

.name .name-content .sub-container .big-icon img {
  width: 50px;
}

.name .name-content .sub-container h3 {
  display: inline;
  position: absolute;
  left: 50%;
  transform: translateX(100%);
  bottom: 28%;
} */

.add {
  margin: 60px 0;
}

.playbar {
  margin-top: 100px;
  margin-bottom: 60px;
}

.title-container {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

.title-container h4 {
  max-width: 282px;
}

.title-container .dot-box {
  min-width: 115px;
  max-width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  padding: 20px;
  color: var(--gray-text-color);
  border: 2px dashed var(--input-bg);
  border-radius: 8px;
  text-align: center;
}

.title-container .dot-box img {
  width: 20px;
  opacity: 0.6;
}

.playbar .icons {
  min-width: 300px;
  gap: 80px;
}

.playbar .icons .icon {
  font-size: 14px;
  color: var(--text-color);
}

.playbar .icons .icon img {
  width: 24px;
}

.playbar .icons .big-icon {
  background-color: #a8b0c0;
  width: 131px;
  height: 131px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.playbar .icons .big-icon .rect {
  width: 37px;
  height: 37px;
  border-radius: 8px;
  background-color: var(--bg-color);
}

.playbar .icons .big-icon h6 {
  /* transform: translateY(100px); */
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  white-space: no-wrap;
  width: max-content;
}

.playbar-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 60px 0 20px 0;
  user-select: none;
}

.upload .playbar-container {
  display: none;
}

.playbar-container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 420px;
}

.playbar-container .top #recpause {
  display: none;
}
.playing .playbar-container .top #recpause {
  display: block;
}
.playing .playbar-container .top #recplay {
  display: none;
}

.playbar-container .top img,
.playbar-container .top svg {
  width: 13px;
  cursor: pointer;
}

.playbar-container .top .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  gap: 10px;
}

.playbar-container .top .group img {
  width: 16px;
}

/* .bar {
  width: 100%;
  height: 4px;
  background-color: var(--input-bg);
  border-radius: 8px;
}

.bar .indicator {
  width: 30%;
  height: 100%;
  background-color: var(--h4-color);
  border-radius: inherit;
} */

.options {
  margin: 90px 0;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 400px;
  gap: 18px;
  margin: auto;
  margin-top: 100px;
}

.signup .socials {
  background: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: left !important;
  justify-content: flex-start !important;
}

.signup .socials img,
.signup .socials span {
  margin-right: 20px;
  margin-left: 10px;
  width: 26px;
}

.signup p {
  font-size: 15px;
  color: var(--gray-text-color);
}

.signup .btn-container {
  margin-top: 50px;
}

.trans-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--footer-bg);
  opacity: 0.8;
  z-index: 4;
}

.pop-up {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  min-width: 420px;
  z-index: 5;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  padding-bottom: 20px;
}

#socialSharingSwitch {
  display: flex;
  align-items: center;
  gap: 10px;
}

#socialSharingSwitch label {
  min-width: 60px;
}

.pop-up .close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
.pop-up .icon {
  position: static;
  cursor: default;
}

.pop-up .title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.pop-up .title img {
  width: 68px;
}
.pop-up .title h1 {
  font-weight: 700;
  font-size: 38px;
  color: var(--footer-bg);
}

.pop-up ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pop-up ul li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pop-up ul li .icon {
  width: 13px;
}
.pop-up ul li p {
  font-size: 15px;
  font-weight: 700;
}
.pop-up ul li .flag {
  width: 16px;
  border-radius: 50%;
}

.pop-up p {
  font-size: 15px;
  color: var(--bg-color);
  margin: 20px 0;
}

.pop-up .err-msg p {
  color: var(--text-color);
}
.pop-up a {
  color: black;
  text-decoration: underline;
}

.record {
  max-width: 420px;
  margin: 50px auto 0;
  text-align: left;
}

.record textarea {
  margin-top: 30px;
}

.record h5 {
  margin-top: 30px;
}

.mid-vectors.upload-success .bottom.success {
  display: block;
}
.mid-vectors.upload-success .bottom.progress-bar {
  display: none;
}
.mid-vectors .bottom.success {
  display: none;
}

.upload {
  margin-top: 40px;
  max-width: 480px;
  overflow: hidden;
  margin: 100px auto 0;
  padding: 0;
}

.upload .pop-up-container {
  transition: all 0.2s ease;
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.upload .pop-up-container .pop-up {
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload .pop-up-container.hide {
  opacity: 0;
  pointer-events: none;
}

.upload .pop-up {
  background-color: var(--bg-color);
}

.upload .pop-up .tool p {
  color: currentColor;
  margin: 0;
}

.upload .pop-up .tool h6 {
  color: currentColor;
  margin-top: 10px;
}

.upload .pop-up .err-msg {
  margin-top: 0;
}

.upload .pop-up .tools svg,
.upload .pop-up .profile svg {
  position: static;
}
/* .upload .pop-up .stop {
  position: absolute;
} */

.upload .pop-up .button-container {
  margin-top: 0;
}
.upload .pop-up button {
  background-color: var(--yellow);
  color: var(--bg-color);
  margin-top: 20px;
}

.upload .pop-up button svg {
  position: static;
  color: var(--text-color);
}

.upload .view-container {
  display: flex;
  transition: transform 0.3s ease-in;
  transform: translateX(-0%);
  min-height: 450px;
}

.upload .step {
  text-align: left;
  min-width: 100%;
  max-width: 100%;
  padding: 0 30px;
  height: 0;
  display: flex;
  flex-direction: column;
}

.upload .err-msg {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.upload .err-msg.show {
  display: flex;
}

.upload .err-msg svg {
  width: 18px;
  fill: rgb(223, 106, 106);
  margin-right: 10px;
}

.upload .play .playbar-container {
  display: flex;
}

.upload .step.accounts {
  display: none;
}
.upload .step.accounts.show {
  display: flex;
}

.upload .step form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.upload .step.current {
  height: auto;
}

.upload .title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.upload .title p {
  border: 1px solid var(--text-color);
  padding: 5px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  white-space: nowrap;
}

.upload .title button {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 12px;
  width: auto;
  height: auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload .title button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.upload .title button .icon {
  width: 18px;
  height: 18px;
}

.upload .heading {
  font-size: 18px;
}

.upload .desc {
  margin-top: 10px;
  color: var(--gray-text-color);
}

.upload form {
  margin-top: 30px;
}

.upload .btn-container {
  flex: 1;
  margin-top: 30px;
  align-items: flex-end;
}

.upload .step .more {
  color: var(--yellow);
  margin: 8px 0;
  cursor: pointer;
  margin-top: 10px;
}

.upload .btn-container button {
  background-color: var(--yellow);
}

.upload .btn-container button:disabled {
  opacity: 0.7;
}

.upload .tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 0 50px;
}
.upload .play .tools {
  padding-bottom: 0;
}

.upload .tools .tool {
  text-align: center;
  cursor: pointer;
  position: relative;
}

.upload .tools .tool.disabled {
  cursor: default;
  pointer-events: none;
  color: var(--gray-text-color);
}

.upload .tools .tool svg {
  width: 24px;
  margin-bottom: 5px;
}

.upload .tools .tool input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload .tools .tool.big-tool {
  transition: opacity 0.2s ease;
  position: relative;
}

.upload .tools .record-btn svg {
  width: 94px;
  border-radius: 50%;
}

.upload .play .tools .record-btn {
  display: none;
}

.upload .tools .control {
  display: none;
}

.upload .play .tools .control {
  display: block;
}

.upload .tools .control .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  padding: 10px 0 0 0;
  /* width: 93px; */
  /* height: 93px; */
}

.upload .tools .control .icons .icon-box {
  width: 93px;
  height: 93px;
  background-color: currentColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload .tools .control .icons svg {
  color: var(--bg-color);
  border-radius: 0;
  margin-bottom: 0;
  width: 35px;
  height: 35px;
}

.upload .playing .tools .control #recplay,
.upload .playing .tools .control .pl {
  display: none;
}

.upload .tools .control #recpause,
.upload .tools .control .pa {
  display: none;
}

.upload .playing .tools .control #recpause,
.upload .playing .tools .control .pa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload .tools .tool.big-tool .stop {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.upload .tools .tool.big-tool.recording .start {
  opacity: 0;
  pointer-events: none;
}

.upload .tools .tool.big-tool.recording .stop {
  opacity: 1;
  pointer-events: auto;
}

.upload .tools .tool.big-tool.recording .stop svg {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0px 0px 3px 10px rgba(255, 255, 255, 0.1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0px 0px 3px 10px rgba(255, 255, 255, 0.1);
  }
}

.upload .tools .tool.big-tool.recording .stop h6 {
  color: var(--text-color);
}

.upload .tools .tool h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-text-color);
}

.upload .tools .tool p {
  font-size: 14px;
}

.upload .dynamic-form #dynamic-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.upload .dynamic-form .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.upload .dynamic-form .wrapper:first-child .icons svg:last-child {
  display: none;
}

.upload .dynamic-form .wrapper .icons {
  margin-top: 5px;
  padding: 0 5px;
}
.upload .dynamic-form .wrapper .icons svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.upload .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.upload .profile .tool {
  text-align: center;
  width: 180px;
  height: 180px;
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.upload .profile .tool .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload .profile .tool.dashed {
  border-style: dashed;
}

.upload .connect.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 400px;
  gap: 18px;
  margin: 50px 0;
}

.upload .preview .profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0 50px;
}

.upload .preview .profile {
  color: var(--yellow);
}

.upload .preview .profile .img {
  position: relative;
}

.upload .preview .profile .icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.upload .preview .dashed {
  border: 2px dashed var(--gray-text-color);
  border-radius: 8px;
  /* padding: 0 40px 0 10px; */
  /* padding: 0 10px; */
  padding-left: 10px;
  display: flex;
  position: relative;
  margin-bottom: 25px;
}

.upload .preview .dashed[draggable] {
  background-color: rgba(255, 255, 255, 0.1);
}

.upload .preview .container {
  align-items: flex-start;
  gap: 10px;
}

.upload .preview .container .flag {
  width: 45px;
}

.upload .preview .container img {
  width: 100%;
  border-radius: 4px;
  border: 2px solid var(--gray-text-color);
}

.upload .preview .header {
  margin-bottom: 10px;
}
.upload .preview .secondary {
  margin: 50px 0 10px;
  color: var(--gray-text-color);
}

.upload .preview .container .gray {
  color: var(--gray-text-color);
}
.upload .preview .container .cou {
  text-transform: capitalize;
}
.upload .preview .container .playing {
  color: rgb(89, 89, 226);
}

.upload .preview .container .icon {
  width: 16px;
  height: 16px;
}

.upload .preview .dashed .drag {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-text-color);
  cursor: grab;
  padding: 0 10px;
}

.upload .success h2 {
  font-size: 28px;
}
.upload .success p {
  color: var(--text-color);
  margin-top: 50px;
}

.profile .img {
  width: 81px;
  height: 81px;
  border: 1px solid white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1920px) {
  .mid-vectors .bg1 {
    background-size: 100vw;
  }
}

@media only screen and (max-width: 1300px) {
  header h4 {
    font-size: 20px;
  }

  header h1 {
    font-size: 20px;
  }

  section button {
    width: 100%;
    font-size: 22px;
  }

  .home button,
  .playbar button {
    width: 265px;
  }

  .mid-vectors .top,
  .mid-vectors .bottom {
    width: 180px;
    top: -15%;
  }

  .mid-vectors .bottom.progress-bar {
    height: 180px;
  }

  .mid-vectors .bottom {
    top: 30%;
  }

  .mid-vectors .bg {
    top: 20%;
  }
  .mid-vectors .bg1 {
    top: 20%;
    background-size: 1320px;
  }

  .mid-vectors .bg img {
    width: 1320px;
    min-width: auto;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 35px 5%;
  }

  header h4 {
    font-size: 18px;
  }

  header h1 {
    font-size: 18px;
  }

  header .ham {
    display: flex;
  }

  header .links {
    display: none;
  }

  header .sidebar-active {
    right: 0;
  }

  section {
    padding: 10px 5%;
  }

  section h1 {
    font-size: 36px;
    line-height: 1.5em;
  }

  footer {
    font-size: 12px;
    padding: 20px;
  }

  .flip-container {
    height: 54px;
  }

  .flip-content span {
    line-height: 1.222em;
  }

  .mid-vectors {
    height: 160px;
    margin-top: -30px;
  }

  .mid-vectors .top,
  .mid-vectors .bottom {
    width: 140px;
    top: -10%;
  }

  .mid-vectors .bottom.progress-bar {
    height: 140px;
  }

  .mid-vectors .bottom {
    top: 30%;
  }

  .mid-vectors .bg1 {
    top: 35%;
  }

  .mid-vectors .bg1 {
    background-size: 1000px;
  }

  .mid-vectors .bg img {
    width: 820px;
  }

  .icons .icon {
    font-size: 14px;
  }

  .icons .icon img {
    width: 24px;
  }

  /* .big-icon {
    width: 121px;
    height: 121px;
    border: 5px solid white;
  } */

  /* .big-icon img {
    width: 50px;
  } */

  form {
    max-width: none;
  }

  form input:not([type="file"]),
  form select,
  form textarea,
  .flag select {
    min-width: auto;
    width: 90vw;
  }

  .home {
    gap: 30px;
  }

  .home button,
  .home form {
    display: none;
  }

  .home .search-bar {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%);
    width: 90%;
  }

  .home.search .search-bar {
    pointer-events: initial;
  }

  .home .search-bar .icon {
    display: block;
  }

  .home.search h1,
  .home.search .chats {
    opacity: 0;
    height: 0;
    pointer-events: none;
  }
  .home.search .search-bar {
    transition-duration: 1s, 2s;
    transition-delay: 0s, 1s;
    opacity: 1;
    top: 300px;
  }

  .home form input {
    min-width: 200px;
  }

  .home .chats {
    display: block;
  }

  .extras {
    display: initial;
  }

  .name .icons {
    min-width: auto;
    gap: 45px;
  }

  .playbar .icons {
    min-width: 80%;
    gap: 20px;
  }

  .playbar-container .top {
    min-width: 80vw;
  }

  .playbar-container .top .group {
    width: 100px;
  }

  .signup,
  .record {
    min-width: auto !important;
    max-width: none !important;
  }

  .pop-up {
    min-width: auto;
    width: 90%;
  }

  .pop-up form input:not([type="file"]),
  .pop-up form select,
  .pop-up form textarea {
    width: 100%;
  }

  .pop-up .title h1 {
    font-size: 28px;
  }

  .add {
    margin-bottom: 20px;
  }

  .upload {
    width: 100vw;
    max-width: none;
  }

  .full {
    padding: 0;
  }

  .upload .step {
    max-width: 100vw;
    min-width: 100vw;
    padding: 0 5vw;
  }
}
